.products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin: 20px 0;
}

/* ----------- Product Item ----------------- */
@import url("../utils/productItem/productItem.css");

.delete-all{
    margin-top: 20px;    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.delete-all input{
    height: 20px;
    width: 20px;
    transform: translateY(5px);
    margin: 0 10px;
    border-radius: 5px;
}
.delete-all span{
    color: #200353;
    letter-spacing: 1.3px;
    font-weight: 500;
}
.delete-all button{
    border: 1px solid crimson;
    padding: 5px 25px;
    color: crimson;
    text-transform: uppercase;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* ------------ Filters Menu ----------------- */
.filter_menu{
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}
.filter_menu select, input{
    border: 1px solid #ccc;
    outline: none;
    height: 40px;
    padding: 0 5px;
}
.filter_menu input{
    flex: 1;
}

.filter_menu .row{
  margin-left: 20px;
}

.filter_menu .row select{
  border: none;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
}

.filter_menu .row span{
  font-size: 14px;
  font-weight: 600;
}

/* -------------------- Load More --------------- */
.load_more{
    text-align: center;
}
.load_more button{
    padding: 5px 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
    text-transform: capitalize;
    border-radius: 5px;
    font-weight: 600;
}

.search_form{
    position: relative;
    max-width: 400px;
    border: none;
}

.search_form input{
    width: 300px;
    background-color: rgb(241, 241, 241);
    border: none;
    margin-left: 0px;
    padding-left: 20px;
    border-radius: 5px;
}

.search_form .search_text{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    pointer-events: none;
}

.search_text .search_icon{
  position: absolute;
  top: 55%;
  right: 95%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  pointer-events: none;
}